
<!-- api loader -->
<div class="" *ngIf="loading">
  <app-loading></app-loading>
</div>

<!-- action loader -->
<div class="" *ngIf="loadingAction">
  <app-action-loader></app-action-loader>
</div>
<!-- main content -->
<div class="card" [ngClass]="{'card-fullscreen': fullscreed}">

  <div class="card-content collapse show">
    <div class="card-header bg-primary bg-darken-2 text-center align-items-center card-title-bold text-capitalize row no-gutters">
      <div class="col-9">

        <h3 class="mb-0 text-left">{{pageName}}</h3>
      </div>
      <div class="col-3 text-right">


          <button (click)="fullScreen()" *ngIf="!fullscreed" class="btn box-shadow-2 mx-2 btn-light"><i class="ficon ft-maximize"></i></button>
          <button (click)="fullScreen()" *ngIf="fullscreed" class="btn box-shadow-2 mx-2 btn-light"><i class="ficon ft-minimize"></i></button>

        </div>
    </div>
    <div class="card-body">


      <div class="card-content collapse show">
          <div class="card-body card-dashboard table-responsive">
            <!-- if data  exists -->

              <table class="table table-striped table-bordered dom-jQuery-events" *ngIf="movies.length >= 1">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Image</th>

                        <th class="action_minwidth">Action</th>
                      </tr>
                </thead>
                <tbody>
                        <!-- loop starts here -->

                    <tr *ngFor="let movie of movies">
                        <td>{{movie.id}}</td>
                        <td>{{movie.name}}</td>
                        <td *ngIf="movie.description.length > 140">{{movie.description | slice:0:140}} ...</td>
                        <td *ngIf="movie.description.length < 140">{{movie.description}}</td>
                        <td *ngIf="!fullscreed"><button type="button" [attr.data-toggle]="'modal'" [attr.data-target]="['#movieGallery'+movie.id]" class="btn btn-primary text-white"><i class="la la-search fw-600" aria-hidden="true"></i></button></td>
                        <td *ngIf="fullscreed"><img [src]="movieImage+movie.image" width="50px" height="40px" alt=""></td>

                        <td class="row justify-content-start no-gutters">
                          <a routerLink="/movie/{{movie?.id}}" class="btn btn-round mr-1 btn-success"><i class="la la-edit"></i></a>
                        </td>
                    </tr>
                        <!-- loop end here -->



                </tbody>

              </table>
            <!-- if data doesn't exists -->

              <div class="text-center" *ngIf="movies.length <= 0">
                <h3>Still no data added in this category</h3>
              </div>
          </div>

    </div>
  </div>
</div>
<!-- Modal -->
<div *ngFor="let movieGallery of movies" class="gallery_modal modal fade" id="movieGallery{{movieGallery.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mb-0" id="exampleModalLabel">{{movieGallery.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <img [src]="movieImage+movieGallery.image" class="w-100" alt="">
          </div>

          </div>
        </div>
    </div>
  </div>
</div>

