
<div class="" *ngIf="loading">
  <app-loading></app-loading>
</div>

<div class="" *ngIf="loadingAction">
  <app-action-loader></app-action-loader>
</div>
<div class="card" [ngClass]="{'card-fullscreen': fullscreed}">

  <div class="card-content collapse show">
    <div class="card-header bg-primary bg-darken-2 text-center align-items-center card-title-bold text-capitalize row no-gutters">
      <div class="col-9">

        <h3 class="mb-0 text-left">{{pageName}}</h3>
      </div>
      <div class="col-3 text-right">


          <button (click)="fullScreen()" *ngIf="!fullscreed" class="btn box-shadow-2 mx-2 btn-light"><i class="ficon ft-maximize"></i></button>
          <button (click)="fullScreen()" *ngIf="fullscreed" class="btn box-shadow-2 mx-2 btn-light"><i class="ficon ft-minimize"></i></button>
          <button (click)="openModal(createModal)" class="btn btn-light"><i class="la la-plus" aria-hidden="true"></i></button>

        </div>
    </div>
    <div class="card-body">
      <div *ngIf="success" class="alert alert-success" role="alert">
        {{success}}
      </div>
      <div *ngIf="error" class="alert alert-danger" role="alert">
        {{error}}
      </div>
      <div *ngIf="delete" class="alert alert-danger" role="alert">
        {{delete}}
      </div>

      <div class="card-content collapse show">
          <div class="card-body card-dashboard table-responsive">
            <fieldset class="mb-2">
              <form [formGroup]="searchByCategory" (ngSubmit)="onSearch(searchByCategory)">
                <div class="row justify-content-center">
                  <div class="col-lg-8">

                    <div class="input-group">
                      <select id="category" class="form-control" name="category" formControlName="category">
                        <option value="" selected>Select category</option>
                        <option value="{{category.id}}" *ngFor="let category of categoryContainer">{{category.name}}</option>
                      </select>
                      <div class="input-group-append">
                        <button class="btn btn-outline-success" [disabled]="!searchByCategory.valid" type="submit">Search</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </fieldset>
              <table class="table table-striped table-bordered" *ngIf="movies.length > 0">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Image</th>

                        <th class="action_minwidth">Action</th>
                      </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let movie of movies">
                        <td>{{movie.id}}</td>
                        <td>{{movie.name}}</td>
                        <td *ngIf="movie.description.length > 140">{{movie.description | slice:0:140}} ...</td>
                        <td *ngIf="movie.description.length < 140">{{movie.description}}</td>
                        <td *ngIf="!fullscreed"><button type="button" [attr.data-toggle]="'modal'" [attr.data-target]="['#movieGallery'+movie.id]" class="btn btn-primary text-white"><i class="la la-search fw-600" aria-hidden="true"></i></button></td>
                        <td *ngIf="fullscreed"><img [src]="movieImage+movie.image" width="50px" height="40px" alt=""></td>

                        <td class="row justify-content-start no-gutters">
                          <a routerLink="/movie/{{movie?.id}}" class="btn btn-round mr-1 btn-success"><i class="la la-edit"></i></a>
                          <button (click)="onDelete(movie.id , {'_method':'delete'})" class="btn btn-round mr-1 btn-danger"><i class="la la-trash-o"></i></button>
                        </td>
                    </tr>



                </tbody>

              </table>
              <div class="text-center" *ngIf="movies.length <= 0">
                <h3>Still no movies added</h3>
              </div>

          </div>

    </div>
  </div>
</div>
<!-- Modal -->
<div *ngFor="let movieGallery of movies" class="gallery_modal modal fade" id="movieGallery{{movieGallery.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mb-0" id="exampleModalLabel">{{movieGallery.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <img [src]="movieImage+movieGallery.image" class="w-100" alt="">
          </div>

          </div>
        </div>
    </div>
  </div>
</div>
<ng-template #createModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create movie</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createMovie" (ngSubmit)="onCreate()">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
              <label for="name">Name</label>
              <input id="name" class="form-control" type="text" name="name" formControlName="name">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="icon">Image</label>
              <input id="icon" (change)="image($event)" class="form-control" type="file" name="icon">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="category_id">category</label>
              <select id="category_id" class="form-control" name="category_id" formControlName="category_id">
                <option value="">Select category</option>
                <option value="{{category.id}}" *ngFor="let category of categoryContainer">{{category.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea id="description" class="form-control" type="text" name="description" formControlName="description"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="createMovie.invalid">Save changes</button>
      </div>
  </form>
  </div>
</ng-template>
