// general
$mainColor: #3a5563;
$secondaryColor: #040404;
.text-primary {
  color: $secondaryColor !important
}

.btn-light:focus {
  color: #040404 !important
}
.bg-primary.bg-darken-2,
.btn-primary.btn-darken-2 {
  background-color: $mainColor !important;
}
.btn-primary {
  background-color: $mainColor !important;
  border-color: #fff !important;

  &:hover {
    background-color: $secondaryColor !important;
    border-color: #fff !important;

  }

  &:focus {
    background-color: $mainColor !important;
    border-color: #fff !important;

  }
}



// body
body.vertical-layout.vertical-menu-modern .content {
  position: relative;
}
// header

@media screen and (min-width:1024px) {

  .header-navbar .modern-nav-toggle,
  .header-navbar .modern-nav-toggle:focus,
  .header-navbar .modern-nav-toggle:hover {
    color: #fff !important;
  }
}
@media screen and (max-width:1024px) {

  .navbar-semi-light .navbar-nav .nav-link{
    color: #040404;
  }
}

.header-navbar .navbar-header {
  padding: 4px 14px
}
.navigation {
  &-main {
    margin-top: 18px !important
  }
}
// sidebar
.main-menu.menu-light .navigation .active>a{
  border-right: 4px solid $mainColor !important
  ;
}
.main-menu.menu-dark .navigation>li.active>a {
  border-right: 4px solid $mainColor;
  margin: 0 !important;

}
// table
.table td{
  display: table-cell;
}
.table td,
.table th {
  vertical-align: middle;
}
// pace
.pace{
  &-progress{
    background-color: $mainColor !important;
  }
}
// filter section
.filtration {
  select{
    flex: 0 0 20% !important;
  }
  @media screen and (max-width:600px) {
    select{
      flex: 0 0 50% !important;
    }

  }
}



// login box
.login_box {
  .card-title {
    i {
      font-size: 40px;
    }
  }
}
// gallery modal
.gallery_modal {
  img {
    height: 500px;
    object-fit: contain;
  }
}

// cards
.card-header {
  h3 {
    color: #fff
  }

  .btn-light {
    color: #040404
  }
}





.modal {
  &-title {
    margin-bottom: 0 !important;
  }
}



// loader
.loader {
  position: fixed;
  inset: 0;
  z-index: 99999999999;
  background: #290707;
}

.loader .loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.main-logo-loader {


  animation: flip-vertical-left 1s ease-in-out infinite alternate-reverse both;
}

.preloader {
  position: fixed;
  inset: 0;
  z-index: 99999;
  background: #290707;
}

.preloader .loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


.preloader .main-loader {


  animation: flip-vertical-left 1s ease-in-out infinite alternate-reverse both;
}

.fullsizeModal {
  max-width: 100%;
  margin: 0 !important;
  max-height: 100%;

}



.loading {
  &_data {
    position: absolute;
    inset: 0;
    background-color: #f4f5fa;
    z-index: 800;

    .lds-ring {
      display: inline-block;
      position: absolute;
      top: 50%;
      width: 80px;
      height: 80px;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid $mainColor;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $mainColor transparent transparent transparent;
    }

    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }

  }
}

// dropdown
.dropdown-user:hover {
  position: relative;
}

.dropdown-user:hover .dropdown-menu-user {
  transform: scale(1, 1);
  opacity: 1;
  display: block;
}

.dropdown-menu-user {
  position: absolute
}
// actions
.action {

  &_minwidth {
    min-width: 181px;
  }



  &_banner {
    padding: 1.6rem 0 !important;
  }

  &_loader {
    position: fixed;
    inset: 0;
    background-color: rgba($mainColor, 0.6);
    z-index: 99999;

    .lds-ring {
      display: inline-block;
      position: absolute;
      top: 50%;
      width: 80px;
      height: 80px;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #fff transparent transparent transparent;
    }

    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
// pagination
.ngx-pagination {
  padding-left: 0;

  .current {
    background-color: $mainColor !important
  }

  a:hover {
    color: $mainColor
  }
}
// footer
footer {
  a {
    color: $secondaryColor !important
  }
}
// notfound
.notfound {
  min-height: 75vh;
}
// animation

@-webkit-keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}

@keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}
