

<!-- api loader -->
<div class="" *ngIf="loading">
  <app-loading></app-loading>
</div>

<!-- action loader -->
<div class="" *ngIf="loadingAction">
  <app-action-loader></app-action-loader>
</div>

<!-- main content -->
<div class="card card-content collapse show">
  <div class="card-body">
    <div *ngIf="error" class="alert alert-danger" role="alert">
      {{error}}
    </div>
    <div *ngIf="success" class="alert alert-success" role="alert">
      {{success}}
    </div>
    <form [formGroup]="updateMovie" (ngSubmit)="onUpdate()">
        <div class="row">
          <div class="col-md-4">

            <div class="form-group">
              <label for="name">Name</label>
              <input id="name" class="form-control" type="text" name="name" formControlName="name" [ngModel]="movie?.name">
            </div>
          </div>

              <input id="name" class="form-control" type="hidden" name="_method" formControlName="_method" [ngModel]="_method">
              <input id="image" class="form-control" type="hidden" name="image" formControlName="image" [ngModel]="movie?.image">

          <div class="col-md-4">
            <div class="form-group">
              <label for="image">Image</label>
              <input id="image" (change)="image($event)" class="form-control" type="file" name="image" >
              <!-- <div class="row align-items-center">
                <div class="col-lg-10">
                </div>

              </div>
              <div class="col-lg-2">
                <img height="50px" [src]="movieImage+movie?.image" alt="">
              </div> -->
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label for="category_id">Category</label>
              <select id="category_id" class="form-control" name="category_id" formControlName="category_id" [ngModel]="movie?.category_id" >
                <option value="">Select Category</option>
                        <!-- loop starts here -->

                <option value="{{category.id}}" *ngFor="let category of categoryContainer">{{category.name}}</option>
                        <!-- loop end here -->

              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea id="name" class="form-control" type="text" name="description" formControlName="description" [ngModel]="movie?.description">{{movie?.description}}</textarea>
            </div>
          </div>

        </div>
        <button type="submit" class="btn btn-primary" [disabled]="updateMovie.invalid">Update movie</button>
    </form>
  </div>
</div>
